*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    font-family: 'Roboto';
    position: relative;
    color: #FFFFFF;
    background-color: #6A0000;
    height: 100vh; 
}
.hero > .container{
    display: flex;
    padding: 0 120px;
}
.container > .left {
    width: 60%;
    padding-top: 225px;
    position: relative;
}
.container >.right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > .left > h1{
    width: 700px;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
}
.container > .left > p{
    /* width: 700px; */
    margin-top: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

color: #FFFFFF;
}
.container > .left > img{
    position: absolute;
    top: 280px;
    right: 50px;
}
.container >.right > img{
    width: 80%;
}
.down{
    position: absolute;
    bottom: -50px;
    right: 175px;
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: #ffe922;
    border: 1px solid #fff;
    border-radius: 50px;
    z-index: -1;
}
.down > .img-container{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.down > .img-container > img{
    margin: auto;
}