.contact{
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #420202;
    font-family: 'Roboto';
    color: #000;
    padding: 0 120px;
    padding-top: 150px;
}
form{
    padding: 20px;
}
form input[type='text'], form input[type='email'], form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #f5f1cc;
    border-radius: 5px;
}
form input[type='text']::placeholder, form input[type='email']::placeholder, form textarea::placeholder{
    color: #fff;
    color: #000;
}
.contact > form{
    /* background-color: aqua; */
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contact > form > .details{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.contact > form > details > input{
    width: 45%;
}
.contact > form > details > input.name{
    margin-right: 5%;
}
.contact > form > details > input.email{
    margin-left: 5%;
}
.contact > form textarea{
    margin: 10px 0;
}
.contact > form textarea{
    min-height: 150px;
    resize: none;
}
.contact > form input[type='submit']{
    padding: 10px;
    width: 150px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    color: #000;
}
.contact > form input[type='submit']:hover{
    background-color: #f5f1cc;
    color: #000;
}


@media screen and (max-width:1000px) {
    .contact {
        padding-bottom: 100px;
        width: 100%;
        min-height: auto;
    }
}

@media screen and (max-width:900px){
     .contact{
        padding: 0 30px;
        padding-bottom: 100px;
        padding-top: 100px;
    }
}
@media screen and (max-width:400px), (max-width:600px){
     .contact {
        align-items: flex-start;
        padding: 0 30px;
        padding-top: 100px;
        height: 100%;
    }
    .contact > form{
        width: 100%;
    }
    .contact > form > .details {
        width: 100%;
        margin: 10px 0;
        display: block;
    }
    .contact > form > .details > input{
        margin: 10px 0;
    }
}
@media screen and (max-width:300px){
     .contact {
        padding: 100px 15px 300px 15px;
    }
    
}