*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    height: 100px;
    padding:0 144px;
    font-size:  24px;
    font-weight: 500;
    line-height: 28px;
    /* position: fixed; */
}
.header > .menu {
    display: none;
}
.logo{
    display: flex;
    height: 60%;
    align-items: center;
}
.logo >img:nth-child(2) {
    height: 50%;
}
.navbar{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.navbar > ul li {
    margin-right: 20px;
    color: #fff;
}
.navbar > button {
    color: #000;
    padding: 10px;
    width: 115px;
    height: 48px;
    background-color: #FFE922;
    border-radius: 12px;
}