.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #6A0000;
    align-items: center;
    font-family: 'Roboto';
    height: 100px;
    padding:0 50px;
    font-size:  24px;
    font-weight: 500;
    line-height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar > .menu {
    display: none;
}
.logo{
    width: 20%;
    display: flex;
    height: 60%;
    align-items: center;
}
.logo > img{
    width: 100%;
    height: 100%;
}
.logo > .brand{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.logo >img:nth-child(2) {
    height: 50%;
}
.navbar{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar a{
    display: block;
    text-decoration: none;
    width: 100%;
}
.navbar > .nav-menu{
    display: flex;
}
.navbar > .nav-menu > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.navbar > .nav-menu > ul li {
    margin-right: 20px;
    color: #fff;
}
.navbar > .nav-menu button {
    color: #000;
    padding: 10px;
    width: 115px;
    height: 48px;
    background-color: #FFE922;
    border-radius: 12px;
}
@media screen and (max-width:1100px), (max-width:1000px) {
    .header{
        padding: 0 30px;
    }
    .navbar > .nav-menu > ul {
        margin-right: 20px;
    }
    .navbar > .nav-menu > ul li {
        margin-right: 15px;
    }
}
@media screen and (max-width:900px) {
    .header{
        padding: 0 30px;
    }
    .navbar > .menu {
        overflow-y: hidden;
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
    }
    .navbar > .menu .close{
        display: none;
    }
    .navbar > .nav-menu{
        display: none;
    }
    .navbar.active{
        display: block;
        width: 100%;
    }

    .navbar.active .hamburger{
        display: none;
    }
    .navbar.active .close{
        display: block;
    }
    .navbar.active > .nav-menu{
        background-color: #000;
        position: absolute;
        top: 100px;
        right: 0;
        color: #fff;
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 70%;
        z-index: 22;
    }
    .navbar > .nav-menu button {
        margin: 20px 0;
    }
    .navbar.active > .nav-menu > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 20px 0;
        text-transform: uppercase;
        padding: 0;
    }
    .navbar.navbar.active > .nav-menu > ul li {
        text-align: left;
        padding: 20px 0;
        width: 100%;
        border-bottom: 2px solid wheat;
    }
}
@media screen and (max-width:400px), (max-width:600px) {
    .logo {
    width: 40%;
    height: 50%;
    }
    .logo > img {
    width: 80%;
    }
}